:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
